# Firebase Realtime Database & Auth Credentials
VITE_FIREBASE_API_KEY=AIzaSyArTBOGiIOFNJEU8yqxVhFCd0iUsSm9srM
VITE_FIREBASE_AUTH_DOMAIN=streamcast-99273.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://streamcast-99273-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=streamcast-99273
VITE_FIREBASE_STORAGE_BUCKET=streamcast-99273.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=176335639629
VITE_FIREBASE_APP_ID=1:176335639629:web:d7440de786c20a78ba7804

# The Movie Database (TMDB) API Key
VITE_TMDB_API_KEY=15d2ea6d0dc1d476efbca3eba2b9bbfb
